<template>
	<div id="page">
		<div id="nuage">
			<header>
				<span id="conteneur-menu" role="button" :tabindex="modale === '' && $parent.$parent.message === '' ? 0 : -1" @click="gererMenu" @keydown.enter="gererMenu">
					<i class="material-icons">menu</i>
				</span>
				<a id="conteneur-logo" :href="definirRacine()" :title="$t('accueil')">
					<span id="logo"></span>
				</a>
				<span id="titre">{{ nom }}</span>
				<span id="conteneur-parametres" role="button" :tabindex="modale === '' && $parent.$parent.message === '' ? 0 : -1" :title="$t('parametres')" @click="ouvrirModaleNuage" @keydown.enter="ouvrirModaleNuage" v-if="admin">
					<i class="material-icons">settings</i>
				</span>
				<span id="conteneur-parametres" role="button" :tabindex="modale === '' && $parent.$parent.message === '' ? 0 : -1" :title="$t('seConnecter')" @click="ouvrirModaleConnexion" @keydown.enter="ouvrirModaleConnexion" v-else>
					<i class="material-icons">lock_open</i>
				</span>
			</header>

			<div id="menu" class="menu ascenseur" v-if="menu" role="menu">
				<div class="conteneur" v-if="admin">
					<label>{{ $t('mots') }}</label>
					<div id="mots" class="ascenseur" :style="{'max-height': hauteur + 'px'}">
						<div class="en-tetes">
							<span class="texte">{{ $t('texte') }}</span>
							<span class="taille">{{ $t('taille') }}</span>
							<span class="nombre">{{ $t('nombre') }}</span>
							<span class="couleur"></span>
						</div>
						<div class="mot" v-for="(mot, indexMot) in mots" :data-mot="indexMot" :key="'mot_' + indexMot">
							<input type="search" :value="mot.text" :maxlength="40" @input="mot.text = $event.target.value" @keydown.enter="ajouterMotClavier">
							<input type="number" :value="mot.weight" :min="1" :max="20" @input="mot.weight = $event.target.value">
							<input type="number" :value="mot.number" :min="1" :max="100" @input="mot.number = $event.target.value">
							<input type="color" :value="mot.color" @change="mot.color = $event.target.value">
						</div>
					</div>
					<div class="actions">
						<span id="supprimer" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && menu ? 0 : -1" :title="$t('supprimerMot')" @click="supprimerMot" @keydown.enter="supprimerMot"><i class="material-icons">remove_circle_outline</i></span>
						<span id="ajouter" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && menu ? 0 : -1" :title="$t('ajouterMot')" @click="ajouterMot" @keydown.enter="ajouterMot"><i class="material-icons">add_circle_outline</i></span>
						<span id="ajouter-liste" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && menu ? 0 : -1" :title="$t('ajouterListe')" @click="ouvrirModaleListe" @keydown.enter="ouvrirModaleListe"><i class="material-icons">list_alt</i></span>
						<div class="boutons">
							<span class="bouton" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && menu ? 0 : -1" @click="visualiser" @keydown.enter="visualiser">{{ $t('visualiser') }}</span>
							<span class="bouton" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && menu ? 0 : -1" @click="enregistrer" @keydown.enter="enregistrer">{{ $t('enregistrer') }}</span>
						</div>
					</div>
				</div>
				<div class="conteneur" v-if="admin">
					<label for="fonte">{{ $t('fonte') }}</label>
					<select id="fonte" :value="police" :style="{'font-family': police}" @change="modifierPolice($event.target.value)">
						<option v-for="(font, indexFont) in polices" :value="font" :style="{'font-family': font}" :key="'police_' + indexFont">{{ font }}</option>
					</select>
				</div>
				<div class="conteneur" v-if="admin">
					<label>{{ $t('couleurs') }}</label>
					<div id="couleurs">
						<div class="couleur" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && menu ? 0 : -1" v-for="(palette, indexPalette) in couleurs" :class="{'selectionne': indexCouleur === indexPalette}" @click="modifierCouleur(indexPalette)" @keydown.enter="modifierCouleur(indexPalette)" :key="'palette_' + indexPalette">
							<div v-for="tranche in palette" :key="tranche" :style="{'flex': '1 1 0%', 'background-color': tranche }" />
						</div>
					</div>
				</div>
				<div class="conteneur" v-if="admin">
					<label>{{ $t('direction') }}</label>
					<div id="directions">
						<div class="direction" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && menu ? 0 : -1" :class="{'selectionne': indexRotation === 0}" @click="modifierDirection(0)" @keydown.enter="modifierDirection(0)">
							<svg fill="#222222" height="24" width="24" viewBox="0 0 12 12"><path d="M0 7 L0 5 L12 5 L12 7 Z"></path></svg>
						</div>
						<div class="direction" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && menu ? 0 : -1" :class="{'selectionne': indexRotation === 1}" @click="modifierDirection(1)" @keydown.enter="modifierDirection(1)">
							<svg fill="#222222" height="24" width="24" viewBox="0 0 12 12"><path d="M0 7 L0 5 L12 5 L12 7 Z" transform="rotate(315 6 6)"></path></svg>
						</div>
						<div class="direction" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && menu ? 0 : -1" :class="{'selectionne': indexRotation === 2}" @click="modifierDirection(2)" @keydown.enter="modifierDirection(2)">
							<svg fill="#222222" height="24" width="24" viewBox="0 0 12 12"><path d="M0 7 L0 5 L12 5 L12 7 Z"></path><path d="M0 7 L0 5 L12 5 L12 7 Z" transform="rotate(90 6 6)"></path></svg>
						</div>
						<div class="direction" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && menu ? 0 : -1" :class="{'selectionne': indexRotation === 3}" @click="modifierDirection(3)" @keydown.enter="modifierDirection(3)">
							<svg fill="#222222" height="24" width="24" viewBox="0 0 12 12"><path d="M0 7 L0 5 L12 5 L12 7 Z"></path><path d="M0 7 L0 5 L12 5 L12 7 Z" transform="rotate(45 6 6)"></path><path d="M0 7 L0 5 L12 5 L12 7 Z" transform="rotate(90 6 6)"></path><path d="M0 7 L0 5 L12 5 L12 7 Z" transform="rotate(315 6 6)"></path></svg>
						</div>
					</div>
				</div>
				<div class="conteneur" v-if="!admin">
					<label for="ma-selection">{{ $t('maSelection') }}</label>
					<textarea id="ma-selection" :value="selection.join(', ')"></textarea>
					<span class="bouton" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && menu ? 0 : -1" @click="reinitialiserSelection" @keydown.enter="reinitialiserSelection">Réinitialiser</span>
				</div>
				<div class="conteneur">
					<label>{{ $t('lienEtCodeQR') }}</label>
					<div id="copier-lien">
						<input type="text" disabled :value="definirRacine() + '#/n/' + id">
						<span class="icone lien" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && menu ? 0 : -1" :title="$t('copierLien')" @keydown.enter="copierLien"><i class="material-icons">content_copy</i></span>
						<span class="icone codeqr" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && menu ? 0 : -1" :title="$t('afficherCodeQR')" @click="afficherCodeQR" @keydown.enter="afficherCodeQR"><i class="material-icons">qr_code</i></span>
					</div>
				</div>
				<div class="conteneur">
					<label>{{ $t('exporterImage') }}</label>
					<span class="bouton" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && menu ? 0 : -1" @click="exporterImage" @keydown.enter="exporterImage">{{ $t('exporter') }}</span>
				</div>
				<div class="conteneur credits">
					<p>{{ $t('creeAvec') }}<a href="https://ladigitale.dev/digiwords/" target="_blank" rel="noreferrer"><u>Digiwords by La Digitale</u></a></p>
				</div>
			</div>

			<div id="conteneur">
				<vue-word-cloud :animation-duration="700" animation-easing="ease-in-out" :animation-overlap="1" color="#00ced1" :font-family="police" :load-font="chargerPolice" :spacing="1/2" :words="nuage" @update:progress="modifierProgression">
					<template v-slot="{text, weight, word}">
						<div :tabindex="modale === '' && $parent.$parent.message === '' ? 0 : -1" :title="text + ' (' + weight + ')'" style="cursor: pointer;" @click="afficherMotNuage(word)" @keydown.enter="afficherMotNuage(word)" v-if="admin">
							{{ text }}
						</div>
						<div :tabindex="modale === '' && $parent.$parent.message === '' ? 0 : -1" :title="text" style="cursor: pointer;" @click="afficherMotNuage(word)" @keydown.enter="afficherMotNuage(word)" v-else>
							{{ text }}
						</div>
					</template>
				</vue-word-cloud>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modale === 'mot'">
			<div id="mot" class="modale" role="dialog">
				<div class="conteneur entier">
					<div class="contenu">
						<div class="apercu-mot" :style="{'font-family': police, 'color': mot.color}">
							{{ mot.text }}
						</div>
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="supprimerMotNuage" @keydown.enter="supprimerMotNuage" v-if="!admin">{{ $t('masquer') }}</span>
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="selectionnerMotNuage" @keydown.enter="selectionnerMotNuage" v-if="!admin">{{ $t('selectionner') }}</span>
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleMotNuage" @keydown.enter="fermerModaleMotNuage">{{ $t('fermer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'liste'">
			<div id="liste" class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('ajouterListe') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleListe" @keydown.enter="fermerModaleListe"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="liste-mots">{{ $t('ajouterListeMots') }}</label>
						<textarea id="liste-mots" @input="liste = $event.target.value" :placeholder="$t('exempleListe')"></textarea>
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleListe" @keydown.enter="fermerModaleListe">{{ $t('annuler') }}</span>
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ajouterListe" @keydown.enter="ajouterListe">{{ $t('ajouter') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'connexion'">
			<div class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('connexion') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleConnexion" @keydown.enter="fermerModaleConnexion"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div class="langue">
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'fr'}" @click="modifierLangue('fr')" @keydown.enter="modifierLangue('fr')">FR</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'it'}" @click="modifierLangue('it')" @keydown.enter="modifierLangue('it')">IT</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'en'}" @click="modifierLangue('en')" @keydown.enter="modifierLangue('en')">EN</span>
						</div>
						<label for="question-secrete">{{ $t('questionSecrete') }}</label>
						<select id="question-secrete" :value="question" @change="question = $event.target.value">
							<option value="" selected>-</option>
							<option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
						</select>
						<label for="reponse-secrete">{{ $t('reponseSecrete') }}</label>
						<input id="reponse-secrete" type="password" :value="reponse" @input="reponse = $event.target.value" @keydown.enter="debloquerNuage">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="debloquerNuage" @keydown.enter="debloquerNuage">{{ $t('valider') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'nuage' || modale === 'modifier-nom' || modale === 'modifier-acces' || modale === 'importer' || modale === 'suppression-nuage'">
			<div id="modale-parametres" class="modale" role="dialog" v-if="modale === 'nuage'">
				<header>
					<span class="titre">{{ $t('parametresNuage') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleNuage" @keydown.enter="fermerModaleNuage"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div class="langue">
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'fr'}" @click="modifierLangue('fr')" @keydown.enter="modifierLangue('fr')">FR</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'it'}" @click="modifierLangue('it')" @keydown.enter="modifierLangue('it')">IT</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'en'}" @click="modifierLangue('en')" @keydown.enter="modifierLangue('en')">EN</span>
						</div>
						<span class="vues"><b>{{ $t('nombreVues') }}</b> {{ vues }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleNomNuage" @keydown.enter="ouvrirModaleNomNuage" v-if="!digidrive">{{ $t('modifierNomNuage') }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleAccesNuage" @keydown.enter="ouvrirModaleAccesNuage" v-if="!digidrive">{{ $t('modifierAccesNuage') }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="exporterNuage" @keydown.enter="exporterNuage">{{ $t('exporterNuage') }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleImporter" @keydown.enter="ouvrirModaleImporter">{{ $t('importerNuage') }}</span>
						<span class="bouton large rouge" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="afficherSupprimerNuage" @keydown.enter="afficherSupprimerNuage" v-if="!digidrive">{{ $t('supprimerNuage') }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="terminerSession" @keydown.enter="terminerSession">{{ $t('terminerSession') }}</span>
					</div>
				</div>
			</div>

			<div class="modale" role="dialog" v-else-if="modale === 'modifier-nom'">
				<header>
					<span class="titre">{{ $t('modifierNomNuage') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleNomNuage" @keydown.enter="fermerModaleNomNuage"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="nouveau-nom">{{ $t('nouveauNom') }}</label>
						<input id="nouveau-nom" type="text" :value="nouveaunom" @input="nouveaunom = $event.target.value" @keydown.enter="modifierNomNuage">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="modifierNomNuage" @keydown.enter="modifierNomNuage">{{ $t('modifier') }}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="modale" role="dialog" v-else-if="modale === 'modifier-acces'">
				<header>
					<span class="titre">{{ $t('modifierAccesNuage') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleAccesNuage" @keydown.enter="fermerModaleAccesNuage"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="question-secrete">{{ $t('questionSecreteActuelle') }}</label>
						<select id="question-secrete" :value="question" @change="question = $event.target.value">
							<option value="" selected>-</option>
							<option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
						</select>
						<label for="reponse-secrete">{{ $t('reponseSecreteActuelle') }}</label>
						<input id="reponse-secrete" type="text" :value="reponse" @input="reponse = $event.target.value">
						<label for="nouvelle-question-secrete">{{ $t('nouvelleQuestionSecrete') }}</label>
						<select id="nouvelle-question-secrete" :value="nouvellequestion" @change="nouvellequestion = $event.target.value">
							<option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
						</select>
						<label for="nouvelle-reponse-secrete">{{ $t('nouvelleReponseSecrete') }}</label>
						<input id="nouvelle-reponse-secrete" type="text" :value="nouvellereponse" @input="nouvellereponse = $event.target.value" @keydown.enter="modifierAccesNuage">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="modifierAccesNuage" @keydown.enter="modifierAccesNuage">{{ $t('modifier') }}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="modale" role="dialog" v-else-if="modale === 'importer'">
				<header>
					<span class="titre">{{ $t('importerNuage') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleImporter" @keydown.enter="fermerModaleImporter"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<p>{{ $t('alerteImporter') }}</p>
						<input type="file" id="importer" name="importer" style="display: none;" accept=".dgw" @change="importerNuage">
						<label for="importer" class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @keydown.enter="activerInput('importer')">{{ $t('selectionnerFichier') }}</label>
					</div>
				</div>
			</div>

			<div class="modale confirmation" role="dialog" v-else-if="modale === 'suppression-nuage'">
				<div class="conteneur entier">
					<div class="contenu">
						<p v-html="$t('confirmationSupprimerNuage')" />
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleSupprimer" @keydown.enter="fermerModaleSupprimer">{{ $t('non') }}</span>
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="supprimerNuage" @keydown.enter="supprimerNuage">{{ $t('oui') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'code-qr'">
			<div id="codeqr" class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('codeQR') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleCodeQR" @keydown.enter="fermerModaleCodeQR"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div id="qr" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Chance from 'chance'
import FontFaceObserver from 'fontfaceobserver'
import domtoimage from 'dom-to-image'
import fitty from 'fitty'
import ClipboardJS from 'clipboard'
import { saveAs } from 'file-saver'
import VueWordCloud from 'vuewordcloud'

export default {
	name: 'Nuage',
	components: {
		[VueWordCloud.name]: VueWordCloud
	},
	data () {
		return {
			modale: '',
			menu: false,
			admin: false,
			id: '',
			question: '',
			questions: ['motPrefere', 'filmPrefere', 'chansonPreferee', 'prenomMere', 'prenomPere', 'nomRue', 'nomEmployeur', 'nomAnimal'],
			reponse: '',
			nom: '',
			nouveaunom: '',
			nouvellequestion: '',
			nouvellereponse: '',
			nuage: [],
			indexCouleur: -1,
			couleurs: [
				['#ffd077', '#3bc4c7', '#3a9eea', '#ff4e69', '#461e47'],
				['#d99cd1', '#c99cd1', '#b99cd1', '#a99cd1'],
				['#403030', '#f97a7a'],
				['#31a50d', '#d1b022', '#74482a']
			],
			police: 'Abril Fatface',
			polices: ['Abril Fatface', 'Anton', 'Bahiana', 'Baloo Bhaijaan', 'Barrio', 'Finger Paint', 'Fredericka the Great', 'Gloria Hallelujah', 'Indie Flower', 'Life Savers', 'Londrina Sketch', 'Love Ya Like A Sister', 'Merienda', 'OpenDyslexic', 'Pacifico', 'Quicksand', 'Righteous', 'Roboto'],
			indexRotation: 0,
			mots: [{ text: this.$t('digitale'), weight: 5, number: 5, rotation: 0, fontFamily: this.police, color: '#00ced1'}, { text: this.$t('bleuet'), weight: 3, number: 3, rotation: 0, fontFamily: this.police, color: '#3b57ed'}, { text: this.$t('coquelicot'), weight: 3, number: 3, rotation: 0, fontFamily: this.police, color: '#ec3c2f'}, { text: this.$t('mimosa'), weight: 2, number: 3, rotation: 0, fontFamily: this.police, color: '#f4d501'}],
			hauteur: 0,
			progression: '',
			mot: '',
			liste: '',
			selection: [],
			vues: 0,
			elementPrecedent: null,
			codeqr: '',
			digidrive: false
		}
	},
	watch: {
		progression: function (progression) {
			if (progression === '' || progression === null) {
				this.$parent.$parent.chargement = true
				setTimeout(function () {
					this.$parent.$parent.chargement = false
				}.bind(this), 700)
			} else {
				setTimeout(function () {
					this.$parent.$parent.chargement = false
				}.bind(this), 700)
			}
		}
	},
	created () {
		this.id = this.$route.params.id
		const langue = this.$route.query.lang
		if (this.$parent.$parent.langues.includes(langue) === true) {
			this.$parent.$parent.langue = langue
			localStorage.setItem('digiwords_lang', langue)
		}
		if (localStorage.getItem('selection_digiwords_' + this.id)) {
			this.selection = JSON.parse(localStorage.getItem('selection_digiwords_' + this.id))
		}
		const question = this.$route.query.q
		const reponse = this.$route.query.r
		if (question && question !== '' && reponse && reponse !== '') {
			const xhreq = new XMLHttpRequest()
			xhreq.onload = function () {
				if (xhreq.readyState === xhreq.DONE && xhreq.status === 200 && xhreq.responseText === 'nuage_debloque') {
					this.admin = true
					this.digidrive = true
				}
				window.history.replaceState({}, document.title, window.location.href.split('?')[0])
			}.bind(this)
			xhreq.open('POST', this.$parent.$parent.hote + 'inc/ouvrir_nuage.php', true)
			xhreq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
			xhreq.send('nuage=' + this.id + '&question=' + window.atob(question) + '&reponse=' + window.atob(reponse) + '&type=api')
		}
		this.definirNuage()
		const xhr = new XMLHttpRequest()
		xhr.onload = function () {
			if (xhr.readyState === xhr.DONE && xhr.status === 200) {
				if (xhr.responseText === 'contenu_inexistant' || this.verifierJSON(xhr.responseText) === false) {
					this.$router.push('/')
					return false
				}
				const reponse = JSON.parse(xhr.responseText)
				if (!reponse.nom || reponse.nom === '') {
					this.$router.push('/')
					return false
				}
				this.admin = reponse.admin
				this.nom = reponse.nom
				this.vues = reponse.vues
				if (reponse.donnees !== '') {
					const donnees = JSON.parse(reponse.donnees)
					this.police = donnees.police
					this.indexCouleur = donnees.indexCouleur
					this.indexRotation = donnees.indexRotation
					this.mots = donnees.mots
				}
				if (this.admin) {
					this.menu = true
					setTimeout(function () {
						document.querySelector('#menu').classList.add('ouvert')
						document.querySelector('#conteneur-menu').focus()
					}, 0)
				}
				this.digidrive = Boolean(reponse.digidrive)
				document.title = this.nom + ' - Digiwords by La Digitale'
				this.definirNuage()
			} else {
				this.$parent.$parent.chargement = false
				this.$parent.$parent.message = this.$t('erreurServeur')
			}
		}.bind(this)
		xhr.open('POST', this.$parent.$parent.hote + 'inc/recuperer_nuage.php', true)
		xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
		xhr.send('id=' + this.id)
	},
	mounted () {
		this.definirHauteur()
		const langue = navigator.language.substring(0, 2)
		if (this.$parent.$parent.langues.includes(this.$route.query.lang) === false && this.$parent.$parent.langues.includes(langue) === true) {
			this.$parent.$parent.langue = langue
		}
		if (localStorage.getItem('digiwords_lang')) {
			this.$parent.$parent.langue = localStorage.getItem('digiwords_lang')
		}
		this.$root.$i18n.locale = this.$parent.$parent.langue
		document.getElementsByTagName('html')[0].setAttribute('lang', this.$parent.$parent.langue)

		const lien = this.definirRacine() + '#/n/' + this.id
		const clipboardLien = new ClipboardJS('#copier-lien .lien', {
			text: function () {
				return lien
			}
		})
		clipboardLien.on('success', function () {
			document.querySelector('#copier-lien .lien').focus()
			this.$parent.$parent.notification = this.$t('lienCopie')
		}.bind(this))

		document.addEventListener('keydown', this.gererClavier, false)

		window.addEventListener('resize', this.definirHauteur, false)
	},
	beforeUnmount () {
		document.removeEventListener('keydown', this.gererClavier, false)
		window.removeEventListener('resize', this.definirHauteur, false)
	},
	methods: {
		definirRacine () {
			return window.location.href.split('#')[0]
		},
		activerInput (id) {
			document.querySelector('#' + id).click()
		},
		copierLien () {
			document.querySelector('#copier-lien .lien').click()
		},
		afficherCodeQR () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'code-qr'
			this.$nextTick(function () {
				const lien = this.definirRacine() + '#/n/' + this.id
				// eslint-disable-next-line
				this.codeqr = new QRCode('qr', {
					text: lien,
					width: 360,
					height: 360,
					colorDark: '#000000',
					colorLight: '#ffffff',
					// eslint-disable-next-line
					correctLevel : QRCode.CorrectLevel.H
				})
				document.querySelector('.modale .fermer').focus()
			}.bind(this))
		},
		fermerModaleCodeQR () {
			this.modale = ''
			this.gererFocus()
		},
		definirNuage () {
			const chance = new Chance()
			const nuage = []
			const mots = JSON.parse(JSON.stringify(this.mots))
			mots.forEach(function (mot) {
				if (mot.number > 1) {
					for (let i = 0; i < mot.number; i++) {
						if (mot.weight === 0) {
							const copieMot = JSON.parse(JSON.stringify(mot))
							copieMot.id = chance.string({ length: 5, casing: 'lower', alpha: true, numeric: true })
							copieMot.weight = chance.integer({ min: 1, max: 10 })
							nuage.push(copieMot)
						} else {
							mot.id = chance.string({ length: 5, casing: 'lower', alpha: true, numeric: true })
							nuage.push(mot)
						}
					}
				} else {
					mot.id = chance.string({ length: 5, casing: 'lower', alpha: true, numeric: true })
					if (mot.weight === 0) {
						mot.weight = chance.integer({ min: 1, max: 10 })
					}
					nuage.push(mot)
				}
			})
			this.nuage = nuage
		},
		modifierLangue (langue) {
			this.$root.$i18n.locale = langue
			this.$parent.$parent.langue = langue
			document.getElementsByTagName('html')[0].setAttribute('lang', langue)
			this.$parent.$parent.notification = this.$t('langueModifiee')
			localStorage.setItem('digiwords_lang', langue)
		},
		verifierJSON (json) {
			try {
				JSON.parse(json)
				return true
			} catch {
				return false
			}
		},
		modifierProgression (progression) {
			this.progression = progression
		},
		chargerPolice (police, style, poids, texte) {
			return (new FontFaceObserver(police, { style: style, weight: poids })).load(texte)
		},
		afficherMotNuage (mot) {
			this.elementPrecedent = (document.activeElement || document.body)
			this.mot = mot
			this.modale = 'mot'
			this.$nextTick(function () {
				fitty('#mot .apercu-mot', {
					minSize: 16,
					maxSize: 200
				})
				document.querySelector('.modale .bouton').focus()
			})
		},
		supprimerMotNuage () {
			const id = this.mot.id
			this.nuage.forEach(function (mot, index) {
				if (mot.id === id) {
					this.nuage.splice(index, 1)
				}
			}.bind(this))
			this.fermerModaleMotNuage()
		},
		selectionnerMotNuage () {
			this.selection.push(this.mot.text)
			localStorage.setItem('selection_digiwords_' + this.id, JSON.stringify(this.selection))
			this.menu = true
			setTimeout(function () {
				document.querySelector('#menu').classList.add('ouvert')
				document.querySelector('#conteneur-menu').focus()
			}, 0)
		},
		reinitialiserSelection () {
			this.selection = []
			localStorage.removeItem('selection_digiwords_' + this.id)
		},
		fermerModaleMotNuage () {
			this.mot = ''
			this.modale = ''
			this.gererFocus()
		},
		gererMenu () {
			this.menu = !this.menu
			this.modale = ''
			if (this.menu) {
				setTimeout(function () {
					document.querySelector('#menu').classList.add('ouvert')
					document.querySelector('#conteneur-menu').focus()
				}, 0)
			}
		},
		ajouterMot () {
			let couleur
			if (this.indexCouleur === -1) {
				const chance = new Chance()
				couleur = chance.color({ format: 'hex' })
			} else {
				couleur = this.definirCouleur(this.indexCouleur)
			}
			this.mots.push({ text: '', weight: 1, number: 1, rotation: 0, fontFamily: this.police, color: couleur })
			this.$nextTick(function () {
				const mots = document.querySelectorAll('.mot')
				mots[mots.length - 1].querySelector('input').focus()
				document.querySelector('#mots').scrollTop = document.querySelector('#mots').scrollHeight
			})
		},
		ajouterMotClavier (event) {
			const indexDernierMot = document.querySelector('#mots .mot:last-child').getAttribute('data-mot')
			const indexInput = event.target.closest('.mot').getAttribute('data-mot')
			if (indexDernierMot === indexInput) {
				this.ajouterMot()
			}
		},
		ajouterListe () {
			const liste = this.liste.split(',')
			if (liste.length > 0 && liste[0] !== '') {
				liste.forEach(function (mot, index) {
					if (mot.trim() !== '') {
						let couleur
						if (this.indexCouleur === -1) {
							const chance = new Chance()
							couleur = chance.color({ format: 'hex' })
						} else {
							couleur = this.definirCouleur(this.indexCouleur)
						}
						this.mots.push({ text: mot.trim(), weight: 1, number: 1, rotation: 0, fontFamily: this.police, color: couleur })
						if (liste.length === index + 1) {
							document.querySelector('#mots').scrollTop = document.querySelector('#mots').scrollHeight
						}
					}
				}.bind(this))
				this.fermerModaleListe()
			}
		},
		supprimerMot () {
			this.mots = this.mots.slice(0, -1)
		},
		visualiser () {
			this.mots = this.mots.filter(function (mot) {
				if (mot && mot.hasOwnProperty('text')) {
					return mot.text !== ''
				}
			})
			this.definirNuage()
		},
		enregistrer () {
			this.visualiser()
			if (this.mots.length > 0) {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digiwords by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = this.$t('erreurServeur')
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = this.$t('actionNonAutorisee')
						} else if (xhr.responseText === 'nuage_modifie') {
							this.$parent.$parent.notification = this.$t('nuageEnregistre')
						}
					} else {
						this.$parent.$parent.chargement = false
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_nuage.php', true)
				xhr.setRequestHeader('Content-type', 'application/json')
				const json = { nuage: this.id, donnees: JSON.stringify({ police: this.police, indexCouleur: this.indexCouleur, indexRotation: this.indexRotation, mots: this.mots }) }
				xhr.send(JSON.stringify(json))
			} else {
				this.$parent.$parent.message = this.$t('aucunMot')
			}
		},
		modifierPolice (police) {
			this.police = police
			const mots = this.mots
			mots.forEach(function (mot) {
				mot.fontFamily = this.police
			}.bind(this))
			this.mots = mots
			this.definirNuage()
		},
		modifierCouleur (index) {
			this.indexCouleur = index
			const mots = this.mots
			mots.forEach(function (mot) {
				mot.color = this.definirCouleur(index)
			}.bind(this))
			this.mots = mots
			this.definirNuage()
		},
		modifierDirection (index) {
			this.indexRotation = index
			const mots = this.mots
			mots.forEach(function (mot) {
				mot.rotation = this.definirRotation(index)
			}.bind(this))
			this.mots = mots
			this.definirNuage()
		},
		definirCouleur (index) {
			const couleurs = this.couleurs[index]
			const chance = new Chance()
			const couleur = chance.pickone(couleurs)
			return couleur
		},
		definirRotation (index) {
			let rotation = 0
			const chance = new Chance()
			if (index === 1) {
				rotation = 7/8
			} else if (index === 2) {
				rotation = chance.pickone([0, 3/4])
			} else if (index === 3) {
				rotation = chance.pickone([0, 1/8, 3/4, 7/8])
			}
			return rotation
		},
		exporterImage () {
			domtoimage.toPng(document.querySelector('#conteneur div'), { bgcolor: '#fff' }).then(function (image) {
				saveAs(image, this.$t('nuage') + '_' + (new Date()).getTime() + '.jpg')
				this.$parent.$parent.notification = this.$t('imageExportee')
			}.bind(this))
		},
		exporterNuage () {
			let donnees = { police: this.police, indexCouleur: this.indexCouleur, indexRotation: this.indexRotation, mots: this.mots }
			donnees = 'data:text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(donnees))
			saveAs(donnees, this.$t('nuage') + '_' + (new Date()).getTime() + '.dgw')
			this.$parent.$parent.notification = this.$t('nuageExporte')
		},
		ouvrirModaleImporter () {
			this.modale = 'importer'
			this.$nextTick(function () {
				document.querySelector('.modale .fermer').focus()
			})
		},
		importerNuage (event) {
			const fichier = event.target.files[0]
			if (fichier === null || fichier.length === 0) {
				document.querySelector('#importer').value = ''
				return false
			} else {
				this.modale = ''
				this.$parent.$parent.chargement = true
				const reader = new FileReader()
				reader.onload = function (e) {
					const donnees = JSON.parse(e.target.result)
					const police = donnees.police
					const indexCouleur = donnees.indexCouleur
					const indexRotation = donnees.indexRotation
					const mots = donnees.mots
					const xhr = new XMLHttpRequest()
					xhr.onload = function () {
						if (xhr.readyState === xhr.DONE && xhr.status === 200) {
							this.$parent.$parent.chargement = false
							if (xhr.responseText === 'contenu_inexistant') {
								document.title = 'Digiwords by La Digitale'
								this.$router.push('/')
							} else if (xhr.responseText === 'erreur') {
								this.$parent.$parent.message = this.$t('erreurServeur')
							} else if (xhr.responseText === 'non_autorise') {
								this.$parent.$parent.message = this.$t('actionNonAutorisee')
							} else if (xhr.responseText === 'nuage_modifie') {
								this.police = police
								this.indexCouleur = indexCouleur
								this.indexRotation = indexRotation
								this.mots = mots
								this.definirNuage()
								this.$parent.$parent.notification = this.$t('nuageImporte')
							}
						} else {
							this.$parent.$parent.chargement = false
							this.$parent.$parent.message = this.$t('erreurServeur')
						}
					}.bind(this)
					xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_nuage.php', true)
					xhr.setRequestHeader('Content-type', 'application/json')
					const json = { nuage: this.id, donnees: JSON.stringify({ police: police, indexCouleur: indexCouleur, indexRotation: indexRotation, mots: mots }) }
					xhr.send(JSON.stringify(json))
				}.bind(this)
				reader.readAsText(fichier)
				document.querySelector('#importer').value = ''
			}
		},
		fermerModaleImporter () {
			this.modale = ''
			this.gererFocus()
		},
		ouvrirModaleListe () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'liste'
			setTimeout(function () {
				document.querySelector('#liste textarea').focus()
			}, 10)
		},
		fermerModaleListe () {
			this.modale = ''
			this.liste = ''
			this.gererFocus()
		},
		ouvrirModaleNuage () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'nuage'
			this.$nextTick(function () {
				document.querySelector('.modale .fermer').focus()
			})
		},
		fermerModaleNuage () {
			this.modale = ''
			this.question = ''
			this.reponse = ''
			this.nouveaunom = ''
			this.nouvellequestion = ''
			this.nouvellereponse = ''
			this.gererFocus()
		},
		ouvrirModaleNomNuage () {
			this.nouveaunom = this.nom
			this.modale = 'modifier-nom'
			this.$nextTick(function () {
				document.querySelector('.modale input').focus()
			})
		},
		fermerModaleNomNuage () {
			this.modale = ''
			this.nouveaunom = ''
			this.gererFocus()
		},
		modifierNomNuage () {
			if (this.nouveaunom !== '' && this.nom !== this.nouveaunom) {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digiwords by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = this.$t('erreurServeur')
							this.fermerModaleNomNuage()
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = this.$t('actionNonAutorisee')
							this.fermerModaleNomNuage()
						} else if (xhr.responseText === 'nom_modifie') {
							this.nom = this.nouveaunom
							this.$parent.$parent.notification = this.$t('nomModifie')
							this.fermerModaleNomNuage()
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleNomNuage()
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_nom_nuage.php', true)
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
				xhr.send('nuage=' + this.id + '&nouveaunom=' + this.nouveaunom)
			} else if (this.nouveaunom === '') {
				this.$parent.$parent.message = this.$t('remplirChampNouveauNom')
			}
		},
		ouvrirModaleAccesNuage () {
			this.modale = 'modifier-acces'
			this.$nextTick(function () {
				document.querySelector('.modale select').focus()
			})
		},
		fermerModaleAccesNuage () {
			this.modale = ''
			this.question = ''
			this.reponse = ''
			this.nouvellequestion = ''
			this.nouvellereponse = ''
			this.gererFocus()
		},
		modifierAccesNuage () {
			if (this.question !== '' && this.reponse !== '' && this.nouvellequestion !== '' && this.nouvellereponse !== '') {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						this.fermerModaleAccesNuage()
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digiwords by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = this.$t('erreurServeur')
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = this.$t('informationsIncorrectes')
						} else if (xhr.responseText === 'acces_modifie') {
							this.$parent.$parent.notification = this.$t('accesModifie')
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleAccesNuage()
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_acces_nuage.php', true)
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
				xhr.send('nuage=' + this.id + '&question=' + this.question + '&reponse=' + this.reponse + '&nouvellequestion=' + this.nouvellequestion + '&nouvellereponse=' + this.nouvellereponse)
			} else if (this.question === '') {
				this.$parent.$parent.message = this.$t('selectionnerQuestionSecreteActuelle')
			} else if (this.reponse === '') {
				this.$parent.$parent.message = this.$t('indiquerReponseSecreteActuelle')
			} else if (this.nouvellequestion === '') {
				this.$parent.$parent.message = this.$t('selectionnerNouvelleQuestionSecrete')
			} else if (this.nouvellereponse === '') {
				this.$parent.$parent.message = this.$t('indiquerNouvelleReponseSecrete')
			}
		},
		ouvrirModaleConnexion () {
			this.modale = 'connexion'
			this.$nextTick(function () {
				document.querySelector('.modale select').focus()
			})
		},
		fermerModaleConnexion () {
			this.modale = ''
			this.question = ''
			this.reponse = ''
			this.gererFocus()
		},
		debloquerNuage () {
			if (this.question !== '' && this.reponse !== '') {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						this.fermerModaleConnexion()
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digiwords by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = this.$t('erreurServeur')
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = this.$t('informationsIncorrectes')
						} else if (xhr.responseText === 'nuage_debloque') {
							this.admin = true
							this.$parent.$parent.notification = this.$t('connexionReussie')
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleConnexion()
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/ouvrir_nuage.php', true)
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
				xhr.send('nuage=' + this.id + '&question=' + this.question + '&reponse=' + this.reponse + '&type=utilisateur')
			} else if (this.question === '') {
				this.$parent.$parent.message = this.$t('selectionnerQuestionSecrete')
			} else if (this.reponse === '') {
				this.$parent.$parent.message = this.$t('remplirReponseSecrete')
			}
		},
		terminerSession () {
			this.$parent.$parent.chargement = true
			const xhr = new XMLHttpRequest()
			xhr.onload = function () {
				if (xhr.readyState === xhr.DONE && xhr.status === 200) {
					this.$parent.$parent.chargement = false
					this.fermerModaleNuage()
					if (xhr.responseText === 'session_terminee') {
						this.admin = false
						this.$parent.$parent.notification = this.$t('sessionTerminee')
					}
				} else {
					this.$parent.$parent.chargement = false
					this.fermerModaleNuage()
					this.$parent.$parent.message = this.$t('erreurServeur')
				}
			}.bind(this)
			xhr.open('POST', this.$parent.$parent.hote + 'inc/terminer_session_nuage.php', true)
			xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
			xhr.send('nuage=' + this.id)
		},
		afficherSupprimerNuage () {
			this.modale = 'suppression-nuage'
			this.$nextTick(function () {
				document.querySelector('.modale .bouton').focus()
			})
		},
		supprimerNuage () {
			this.modale = ''
			this.$parent.$parent.chargement = true
			const xhr = new XMLHttpRequest()
			xhr.onload = function () {
				if (xhr.readyState === xhr.DONE && xhr.status === 200) {
					if (xhr.responseText === 'erreur') {
						this.$parent.$parent.chargement = false
						this.$parent.$parent.message = this.$t('erreurServeur')
					} else if (xhr.responseText === 'non_autorise') {
						this.$parent.$parent.chargement = false
						this.$parent.$parent.message = this.$t('actionNonAutorisee')
					} else if (xhr.responseText === 'nuage_supprime' || xhr.responseText === 'contenu_inexistant') {
						document.title = 'Digiwords by La Digitale'
						this.$router.push('/')
					}
				} else {
					this.$parent.$parent.chargement = false
					this.fermerModaleConnexion()
					this.$parent.$parent.message = this.$t('erreurServeur')
				}
			}.bind(this)
			xhr.open('POST', this.$parent.$parent.hote + 'inc/supprimer_nuage.php', true)
			xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
			xhr.send('nuage=' + this.id)
		},
		fermerModaleSupprimer () {
			this.modale = ''
			this.gererFocus()
		},
		definirHauteur () {
			this.$nextTick(function () {
				const hauteurPage = document.querySelector('#page').clientHeight
				const hauteurMaximum = hauteurPage - 123
				const hauteur = hauteurPage - 504
				if (hauteurPage < 504) {
					this.hauteur = hauteurMaximum
				} else {
					this.hauteur = hauteur
				}
			}.bind(this))
		},
		gererFocus () {
			if (this.elementPrecedent) {
				this.elementPrecedent.focus()
				this.elementPrecedent = null
			}
		},
		gererClavier (event) {
			if (event.key === 'Escape' && this.$parent.$parent.message !== '') {
				this.$parent.$parent.message = ''
			} else if (event.key === 'Escape' && this.modale === 'liste') {
				this.fermerModaleListe()
			} else if (event.key === 'Escape' && this.modale === 'mot') {
				this.fermerModaleMotNuage()
			} else if (event.key === 'Escape' && this.modale === 'nuage') {
				this.fermerModaleNuage()
			} else if (event.key === 'Escape' && this.modale === 'modifier-nom') {
				this.fermerModaleNomNuage()
			} else if (event.key === 'Escape' && this.modale === 'modifier-acces') {
				this.fermerModaleAccesNuage()
			} else if (event.key === 'Escape' && this.modale === 'connexion') {
				this.fermerModaleConnexion()
			} else if (event.key === 'Escape' && this.modale === 'importer') {
				this.fermerModaleImporter()
			} else if (event.key === 'Escape' && this.modale === 'suppression-nuage') {
				this.fermerModaleSupprimer()
			} else if (event.key === 'Escape' && this.modale === 'code-qr') {
				this.fermerModaleCodeQR()
			} else if (event.key === 'Escape' && this.modale !== '') {
				this.modale = ''
			} else if (event.key === 'Escape' && this.menu !== '') {
				this.menu = ''
			}
		}
	}
}
</script>

<style scoped>
#page,
#nuage {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#nuage header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
    width: 100%;
    text-align: center;
    background: #fff;
	z-index: 100;
	user-select: none;
}

#conteneur-menu,
#conteneur-parametres,
#conteneur-logo {
    height: 40px;
    background: #fff;
	position: absolute;
	top: 0;
}

#conteneur-menu {
	width: 32px;
	text-align: right;
	left: 0;
	line-height: 40px;
	cursor: pointer;
}

#conteneur-logo {
	width: 40px;
	left: 32px;
	text-align: center;
}

#conteneur-parametres {
	width: 40px;
	right: 0;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

#conteneur-menu i,
#conteneur-parametres i {
	font-size: 24px;
}

#logo {
    width: 24px;
    height: 24px;
    background: #00ced1;
    display: inline-block;
    border-radius: 50%;
    margin: 8px;
}

#titre {
	font-family: 'Roboto-Slab';
	font-size: 18px;
    padding: 0 7px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
	margin-left: 72px;
	display: block;
	text-transform: uppercase;
    letter-spacing: 1px;
	width: calc(100% - 112px);
}

#titre:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 8px;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.04) 50%, transparent 90%, transparent);
}

#conteneur {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: calc(100% - 40px);
	overflow: hidden;
	padding: 15px;
}

#menu.ouvert + #conteneur {
	left: 280px;
	width: calc(100% - 280px);
}

#menu {
	position: absolute;
	top: 40px;
	left: -280px;
	right: 0;
	bottom: 0;
	width: 280px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 40px);
	background: rgba(255, 255, 255, 0.9);
	border-right: 1px solid #ddd;
	z-index: 10;
}

#menu.ouvert {
	left: 0;
	transition: all 0.15s ease-in-out;
    transform: translateZ(0);
	box-shadow: 2px 0 7px 0 rgba(0, 0, 0, 0.1);
}

#menu .conteneur {
    margin: 20px 10px;
	font-size: 0;
}

#menu .conteneur label {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    line-height: 1.15;
    font-weight: 700;
}

#menu #mots {
	width: 100%;
	min-height: 150px;
    overflow: auto;
}

#menu .conteneur .en-tetes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4px;
}

#menu .conteneur .en-tetes span {
	color: #555;
	font-size: 11px;
}

#menu .conteneur .en-tetes .texte {
	width: calc(100% - 129px);
}

#menu .conteneur .en-tetes .nombre,
#menu .conteneur .en-tetes .taille {
	width: 45px;
	margin-left: 5px;
}

#menu .conteneur .en-tetes .couleur {
	width: 24px;
	margin-left: 5px;
}

#menu .conteneur .actions {
	text-align: center;
}

#menu .conteneur .boutons {
	display: flex;
	justify-content: space-between;
}

#menu .conteneur .boutons .bouton {
	width: 48%;
}

#supprimer,
#ajouter,
#ajouter-liste {
	display: inline-block;
	width: 34px;
	height: 34px;
	font-size: 34px;
	cursor: pointer;
	margin-bottom: 10px;
	line-height: 1;
	user-select: none;
}

#supprimer:hover,
#supprimer:active,
#ajouter:hover,
#ajouter:active,
#ajouter-liste:hover,
#ajouter-liste:active {
	opacity: 0.5;
}

#ajouter,
#ajouter-liste {
	color: #00ced1;
}

#ajouter {
	margin-right: 15px;
}

#supprimer {
	color: #aaa;
	margin-right: 15px;
}

#menu .conteneur #directions,
#menu .conteneur #couleurs {
	display: flex;
	justify-content: flex-start;
}

#menu .conteneur #directions .direction,
#menu .conteneur #couleurs .couleur {
	display: flex;
    height: 34px;
	width: 34px;
	cursor: pointer;
	margin-right: 5px;
	padding: 6px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#menu .conteneur .direction {
	justify-content: center;
	align-items: center;
}

#menu .conteneur .direction svg {
	width: 12px;
	height: 12px;
}

#menu .conteneur .direction.selectionne,
#menu .conteneur .couleur.selectionne {
	background: #ddd;
	fill: #fff;
}

#menu .conteneur p {
	font-size: 14px;
}

#menu .conteneur textarea {
    background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
    max-width: 100%;
    width: 100%;
    resize: none;
	padding: 7px 10px;
	margin-bottom: 10px;
	text-align: left;
	line-height: 1.4;
	font-size: 16px;
	min-height: 120px;
}

#menu .conteneur input[type="text"] {
	display: block;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
	padding: 7px 10px;
	line-height: 1.4;
}

#menu #copier-lien {
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu #copier-lien input {
	display: block;
	width: calc(100% - 68px);
	margin-right: 10px;
}

#menu #copier-lien span i {
	font-size: 24px;
	cursor: pointer;
}

#menu #copier-lien span:last-child {
	margin-left: 10px;
}

#menu #copier-lien span i:active {
	opacity: 0.8;
}

#menu .conteneur.credits {
	padding-top: 20px;
	border-top: 1px solid #ddd;
}

#menu .conteneur .bouton:nth-child(2) {
	margin-bottom: 15px;
}

.modale .bouton.large {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.modale .bouton.large:last-child {
	margin-bottom: 0;
}

.modale .bouton.rouge {
	color: #fff;
	background: #ff6259;
}

.modale .bouton.rouge:hover {
	background: #d70b00;
}

.modale .langue {
	margin-bottom: 20px;
}

.modale .langue span {
	display: inline-flex;
	width: 45px;
	height: 45px;
	justify-content: center;
	align-items: center;
	line-height: 1;
	font-size: 20px;
	border-radius: 50%;
	margin-right: 10px;
	border: 1px solid #ddd;
	cursor: pointer;
	user-select: none;
}

.modale .langue span.selectionne {
	background: #444;
	color: #fff;
	border: 1px solid #222;
}

.modale .langue span:last-child {
	margin-right: 0;
}

.modale.confirmation .conteneur {
	text-align: center;
	padding: 30px 25px;
	max-width: 500px;
}

#mot.modale {
	max-width: 1000px;
	text-align: center;
}

#mot.modale .apercu-mot {
	line-height: 1.5;
	margin-bottom: 20px;
}

#liste.modale textarea {
	font-size: 16px;
	line-height: 1.5;
	border: 1px solid #ddd;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 100px;
	max-height: 100px;
	min-height: 50px;
	border-radius: 4px;
	padding: 4px 10px;
	margin: 20px 0;
}

#modale-parametres .contenu {
	font-size: 0;
}

#codeqr.modale .contenu {
	text-align: center;
	font-size: 0;
}

@media screen and (max-width: 600px) {
	#mot.modale .bouton {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}

	#mot.modale .bouton:last-child {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 767px) {
	.modale .langue span {
		width: 40px;
		height: 40px;
		font-size: 18px;
		margin-right: 9px;
	}
}

@media screen and (max-width: 1023px) {
	#conteneur {
		left: 0!important;
		width: 100%!important;
	}
}
</style>

<style>
.menu .conteneur select,
.menu .conteneur input[type="search"],
.menu .conteneur input[type="number"] {
	display: block;
	width: 100%;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 0 auto 20px;
	text-align: left;
}

.menu .conteneur select {
	padding: 4px 30px 4px 10px;
	line-height: 1.5;
}

#menu .conteneur .mot {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

#menu .conteneur .mot input {
	margin-bottom: 0;
}

#menu .conteneur .mot input[type="search"] {
	width: calc(100% - 129px);
	padding: 4px 0 4px 10px;
	line-height: 1.5;
}

#menu .conteneur .mot input[type="number"] {
	width: 45px;
	margin-left: 5px;
	padding: 4px 0 4px 10px;
	line-height: 1.5;
}

#menu .conteneur .mot input[type="color"] {
	width: 24px;
	height: 24px;
	border: none;
	margin-left: 5px;
	cursor: pointer;
}

#menu .conteneur .mot input[type="color"]::-moz-color-swatch {
	border: 1px solid #ddd;
	border-radius: 50%;
}

#menu .conteneur .mot input[type="color"]:focus::-moz-color-swatch {
	border: 1px solid #001d1d;
	border-radius: 50%;
}

#menu .conteneur .mot input[type="color"]::-webkit-color-swatch {
	border: 1px solid #ddd;
	border-radius: 50%;
}

#menu .conteneur .mot input[type="color"]:focus::-webkit-color-swatch {
	border: 1px solid #001d1d;
	border-radius: 50%;
}

#menu .conteneur .mot input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

#modale-parametres .vues {
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
}

#codeqr.modale #qr {
	display: inline-block;
}

#codeqr.modale #qr img {
	max-width: 100%;
	height: auto;
	max-height: 60vh;
}
</style>
